@mixin clearfix(){
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}

	*zoom: 1;
}

@mixin PE(){
	content:"";
	display:block;
}

.cf{
	@include clearfix;
}

// Font mixins

@mixin gill($type, $size, $color){
	font-size:$size;
	color:$color;
	@if $type == 'light' {
		font-family: 'gill-sans-light';
	} @else if $type == 'regular' {
		font-family: 'gill-sans';
   	} @else if $type == 'bold' {
		font-family: 'gill-sans-bold';
   	} @else {
		font-family: 'gill-sans';
   	}
}