.button{
	display:inline-block;
	background:$green;
	@include gill(regular, 17px, $white);
	padding:8px 15px;
	@include border-radius(2px);
	text-decoration:none;
	@include transition(all 200ms ease-out);
	&:hover{
		background:$white;
		color:$blue
	}
}