;;;
"title" : "Philippe Rajalu - Conseils en gouvernance et ressources humaines",
"description" : "Consultant à Rennes, Nantes, Brest"
;;;

		<div id="contents">
			<div class="row padding">
				<article id="intro" class="smaller">
					<div class="contents">
						<h1>Philippe Rajalu - Consultant indépendant</h1>
						<p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<a class="button" href="" target="_blank">Consultez mon CV complet</a>
					</div>
					<div class="bg" style="background:url('img/homeBack.jpg') center center no-repeat; background-size:cover;"></div>
				</article>
			</div>

			<div class="row" id="references">
				<h3>Références</h3>
				<hr />
				<h4>Ils m'ont fait confiance</h4>
				<div id="logoList">
					<img src="img/cci.png" alt="" />
					<img src="img/cci.png" alt="" />
					<img src="img/cci.png" alt="" />
					<img src="img/cci.png" alt="" />
				</div>
			</div>

			<div class="row table-large padding biColor">
				<div class="large-6 columns blueBG">
					<h2>Études de cas</h2>
					<hr/>
				</div>
				<div class="large-6 columns greyBG">
					<article>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
					</article>
				</div>
			</div>

			<div id="caseStudies">
				<article class="caseStudy teaser">
					<a href="#">
						<img src="img/caseteaser.jpg" alt="" />
						<p class="data">10/10/2015 | Category, Category, Category</p>
						<h3>Titre lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<span class="button">Lire la suite</span>
					</a>
				</article>

				<article class="caseStudy teaser">
					<a href="#">
						<img src="img/caseteaser.jpg" alt="" />
						<p class="data">10/10/2015 | Category, Category, Category</p>
						<h3>Titre lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<span class="button">Lire la suite</span>
					</a>
				</article>

				<article class="caseStudy teaser">
					<a href="#">
						<img src="img/caseteaser.jpg" alt="" />
						<p class="data">10/10/2015 | Category, Category, Category</p>
						<h3>Titre lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<span class="button">Lire la suite</span>
					</a>
				</article>

				<article class="caseStudy teaser">
					<a href="#">
						<img src="img/caseteaser.jpg" alt="" />
						<p class="data">10/10/2015 | Category, Category, Category</p>
						<h3>Titre lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<span class="button">Lire la suite</span>
					</a>
				</article>
			</div>
		</div>