;;;
"title" : "Philippe Rajalu - Consultant en Bretagne",
"description" : "Consultant en en gouvernance, ressources humaines et formation"
;;;

		<div id="contents">
			<div class="row padding">
				<article id="intro">
					<div class="contents">
						<h1>Conseil en gouvernance, ressources humaines et formation.</h1>
						<p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<a class="button popTrigger" href="#contact">Contactez-moi</a>
					</div>
					<div class="bg" style="background:url('img/newBack.jpg') center center no-repeat; background-size:cover;"></div>
				</article>
			</div>
		

			<div class="row table-large">
				<div class="columns large-6">
					<article class="tableBlock">
						<img src="img/profilePic.jpg" alt="" />
						<div class="contents">
							<h2>Philippe Rajalu</h2>
							<hr/>
							<p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
							<a class="button" href="a-propos.html">A propos</a>
						</div>
					</article>
				</div>

				<div class="columns large-6">
					<article class="tableBlock greyBG">
						<img src="img/prestas.jpg" alt="" />
						<div class="contents">
							<h2>Ecoute, analyse, conseil</h2>
							<hr/>
							<p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
							<a class="button" href="prestations.html">Mes prestations</a>
						</div>
					</article>
				</div>
			</div>

			<div class="row table-large padding" id="blogTeaser">
				<div class="large-6 columns blueBG">
					<h2>Le journal du consultant</h2>
					<hr/>
					<p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate.</p>
					<a class="button" href="journal.html">Tous les articles</a>
				</div>
				<div class="large-6 columns greyBG">
					<article class="teaser">
						<a href="#">
							<p><strong>Dernier article</strong></p>
							<h3>Titre lorem ipsum</h3>
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
							<ul class="meta">
								<li><span class="fakeLink">Continuer à lire</span> - </li>
								<li>10/10/2015 -</li>
								<li>Categories : bidule, bidule, bidule </li>
							</ul>
						</a>
					</article>
				</div>
			</div>
		</div>