;;;
"title" : "Philippe Rajalu - Conseils en gouvernance et ressources humaines",
"description" : "Consultant à Rennes, Nantes, Brest"
;;;

		<div id="contents">
			<div class="row padding">
				<article id="intro" class="smaller white">
					<div class="contents">
						<h1>Le journal du consultant</h1>
						<p class="noPadding">Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
					</div>
					<div class="bg" style="background:url('img/newBack.jpg') center center no-repeat; background-size:cover;"></div>
				</article>
			</div>

			<div id="blog">
				<article class="article teaser">
					<a href="article.html">
						<img src="img/caseteaser.jpg" alt="" />
						<p class="data">10/10/2015 | Category, Category, Category</p>
						<h3>Titre lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<span class="button">Lire la suite</span>
					</a>
				</article>

				<article class="article teaser">
					<a href="article.html">
						<img src="img/caseteaser.jpg" alt="" />
						<p class="data">10/10/2015 | Category, Category, Category</p>
						<h3>Titre lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<span class="button">Lire la suite</span>
					</a>
				</article>

				<article class="article teaser">
					<a href="article.html">
						<img src="img/caseteaser.jpg" alt="" />
						<p class="data">10/10/2015 | Category, Category, Category</p>
						<h3>Titre lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<span class="button">Lire la suite</span>
					</a>
				</article>

				<article class="article teaser">
					<a href="article.html">
						<img src="img/caseteaser.jpg" alt="" />
						<p class="data">10/10/2015 | Category, Category, Category</p>
						<h3>Titre lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<span class="button">Lire la suite</span>
					</a>
				</article>
			</div>
		</div>