;;;
"title" : "Philippe Rajalu - Conseils en gouvernance et ressources humaines",
"description" : "Consultant à Rennes, Nantes, Brest"
;;;

		<div id="contents">
			<div class="row padding">
				<article id="intro" class="smaller">
					<div class="contents">
						<h1>Philippe Rajalu - Consultant indépendant</h1>
						<p>Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
						<a class="button" href="" target="_blank">Consultez mon CV complet</a>
					</div>
					<div class="bg" style="background:url('img/homeBack.jpg') center center no-repeat; background-size:cover;"></div>
				</article>
			</div>

			<div class="row table-large padding biColor">
				<div class="large-4 columns blueBG">
					<h2>Conseil</h2>
					<hr/>
				</div>
				<div class="large-8 columns greyBG wysiwyg">
					<article>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
						<h2>Lorem ipsum</h2>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
						<ul>
							<li>Lorem ipsum dolor</li>
							<li>Lorem ipsum dolor</li>
							<li>Lorem ipsum dolor</li>
						</ul>
					</article>
				</div>
			</div>

			<div class="row table-large padding biColor">
				<div class="large-4 columns blueBG">
					<h2>Formation</h2>
					<hr/>
				</div>
				<div class="large-8 columns greyBG wysiwyg">
					<article>
						<h3>Lorem ipsum</h3>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus <a href="#">a sit amet mauris</a>. </p>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
						<h4>Dolor sit</h4>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
					</article>
				</div>
			</div>

			<div class="row table-large padding biColor">
				<div class="large-4 columns blueBG">
					<h2>Recherche</h2>
					<hr/>
				</div>
				<div class="large-8 columns greyBG wysiwyg">
					<article>
						<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. </p>
					</article>
				</div>
			</div>
		</div>