.button{
	display:inline-block;
	background:$green;
	@include gill(regular, 15px, $white);
	padding:8px 15px 6px;
	@include border-radius(2px);
	text-decoration:none;
	@include transition(all 200ms ease-out);
	border:1px solid $green;
	text-transform:uppercase;
	&:hover{
		background:$white;
		color:$blue
	}
}

.popUp{
	background:$white;
	max-width:700px;
	margin:0 auto;
	padding:40px;
	border:5px solid $blue;
	position:relative;
	text-align:center;
	@include transition(all 200ms ease-out);
	@include transform(translateY(0px));
	&.mfp-hide{
		@include transform(translateY(-30px));
	}
	h3{
		@include gill(light, 25px, $blue);
		margin-bottom:20px;
	}
	hr{
		max-width:215px;
		margin:0 auto 20px;
		border:0px;
		border-top:1px solid $green;
	}
	p{
		@include gill(light, 16px, $blue);
		line-height: 1.4;
		max-width:500px;
		margin:0 auto 20px;
		strong{
			text-transform: uppercase;
			@include gill(bold, 16px, $blue);
		}
	}
	.button{
		margin-bottom: 20px;
	}
}

.biColor{
	margin:0px auto 30px;
	.blueBG{
		background:$blue;
		text-align:center;
		padding:60px;
		position:relative;
		h2{
			@include gill(light, 25px, $white);
			margin-bottom:20px;
		}
		hr{
			max-width:215px;
			margin:0 auto 0px;
			border:0px;
			border-top:1px solid $green;
		}
	}
	.greyBG{
		background:$lightGrey;
		padding:30px 60px !important;
		text-align: center;
		p{
			margin-bottom:15px;
			@include gill(light, 20px, #454545);
			line-height: 1.3;
			max-width:500px;
			margin:0 auto;
		}
		
		@media only screen and (max-width: 1125px){
			padding:30px 30px 40px !important;
		}
	}

	.wysiwyg{
		text-align:left;
		padding-top:25px;
		padding-bottom:25px;
		p{
			max-width:100%;
		}
	}
}

.wysiwyg{
	text-align:left;
	&.row{
		max-width:880px;
		padding:10px 40px;
		@media only screen and (max-width: 600px){
			padding:10px 15px;
		}
	}
	img, figure{
		max-width:100%;
		&.aligncenter{
			display:block;
			margin:0 auto 25px;
		}
		&.alignright{
			float:right;
			position:relative;
			right:-40px;
			margin-bottom:25px;
			text-align:right;
		}
		&.alignleft{
			float:left;
			position:relative;
			left:-40px;
			margin-bottom:25px;
			text-align:left;
		}
		figcaption{
			padding:3px 0px;
			@include gill(light, 12px, $greyText);
		}
		@media only screen and (max-width: 600px){
			&.alignright, &.alignleft{
				display:block;
				margin:0 auto 25px;
				float: none;
				position:static;
				text-align:left;
			}
		}
	}
	p, ul, ol, blockquote{
		margin-bottom:20px !important;
		&:last-child{
			margin-bottom:0px !important;
		}
	}
	p{
		margin-bottom:15px;
		@include gill(light, 20px, #454545);
		line-height: 1.3;
		margin:0 auto;
	}
	ul{
		list-style-position: outside;
		list-style-type: disc;
		padding-left:15px;
		li{
			@include gill(light, 18px, #454545);
			margin-bottom:10px;
		}
	}

	h2{
		@include gill(regular, 27px, $blue);
		margin-bottom:20px;
	}
	h3{
		@include gill(regular, 23px, $blue);
		margin-bottom:20px;
	}
	h4, h5, h6{
		@include gill(regular, 18px, #454545);
		text-transform: uppercase;
		margin-bottom:20px;
	}
	a{
		color:$blue;
		&:hover{
			color:$green;
		}
	}
	strong{
		font-family: 'gill-sans';
	}
	em{
		font-style: italic;
	}
}

/* overlay at start */
.mfp-fade.mfp-bg {
  @include opacity(0);
  @include transition(all 0.15s ease-out);
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  @include opacity(0.8);
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  @include opacity(0);
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  @include opacity(0);
  @include transition(all 0.15s ease-out);
  @include transform(translateY(-30px));
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  @include opacity(1);
  @include transform(translateY(0px));
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  @include opacity(0);
}